<h2>{{title}}</h2>

<div>
    <h2>Add a hero</h2>
    <label>name: </label>
    <input [(ngModel)]="newHeroName" placeholder="name" />
    <button (click)="createHero(newHeroName)">inserir</button>
</div>

<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">
            <span class="badge">{{hero._id}}</span>{{hero.name}}
        </li>
    </ul>
</div>

<!--hero-detail [hero]="selectedHero"></hero-detail-->
<router-outlet></router-outlet>
